<!DOCTYPE html>
<html lang="en">
<header>Tic-Tac-Tu</header>
<head>
  <meta charset="UTF-8">
  <div>
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
      <ul class="nav navbar-nav">
        <li><a href="/play">Play</a></li>
        <li><a href="/register">Register</a></li>
        <li class="active"><a href="/login">Login</a></li>
        <li style="float:right"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</head>
<body>
  <div>
    <p>Sign in</p>
      <form action="/login" method="POST" class="form-horizontal"><br>
        <input type="text" email="email_r" name="email" placeholder="Email"><br>
        <input type="password" password="password_r" name="password" placeholder="Password"><br>
        <input type="submit" name="Submit" value="Enter" class="btn"><br>
      </form>
</body>
</html>
