<!DOCTYPE html>
<html lang="en">
<head>
  <header>Tic-Tac-Tu</header>
  <meta charset="UTF-8">
  <div class="register">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <nav class="navbar" role="navigation" style="padding-left:130px;">
      <ul class="nav navbar-nav">
        <li><a href="/playername">Play</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li style="float:right"><a class="active" href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</head>
<body>
  <div class="jumbotron">
    <header>Successfully logged out</header>
</div>
</body>
</html>
