<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <meta name="author" content="Rob Hitt">
  <meta name="description" content="Tic Tac Toe">

  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

  <link rel="stylesheet" href="/css/playername.css" type="text/css">

  <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>

  <div>
    <h1 class="header">Tic Tac Toe</h1>
  </div>
  <div class="enter-players">

    <form id="player-form">
      <div class="player-container">
        <label for="player1">Player 1</label>
        <input type="text" placeholder="enter name" name="player1" id="player1" class="input-field" />
      </div>
      <div class="player-container">
        <label for="player2">Player 2</label>
        <input type="text" placeholder="enter name" name="player2" id="player2" class="input-field" />
      </div>

      <input type="submit" class="submit-btn" value="Start Game" />
    </form>
  </div>

</body>

</html>