<!DOCTYPE html>
<html lang="en">

<head>
  <h1 class="header">Tic Tac Toe</h1>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <meta name="author" content="Rob Hitt">
  <meta name="description" content="Tic Tac Toe">

  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css" type="text/css">
  <link rel="stylesheet" href="css/playername.css" type="text/css">
  <link rel="stylesheet" href="css/layout.css" type="text/css">

  <script type="text/javascript" src="js/main.js"></script>
</head>

<body>
  <div>
    <h1 class="header">Tic Tac Toe</h1>
  </div>
  <div class="nav-container">
    <nav class="navbar" role="navigation" style="padding-left:130px;">
      <ul class="navlist">
        <li><a href="/playername">Play With Friend</a></li>
        <li><a href="/playbots">Play Against Bots</a></li>
        <li class="active"><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li style="float:right"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
  <div class="jumbotron">
    <header>Register here</header>
    <form action="/register" method="POST" class="form-horizontal">
      <div class="name-container">
        <label for="entername">Enter Name   </label>
        <input type="text" name="name" placeholder="Name" class="input-field"<br>
      </div>
      <div class="email-container">
        <label for="enteremail">Enter Email  </label>
        <input type="text" email="email_r" name="email" placeholder="Email" class="input-field" <br>
      </div>
      <div class="password-container">
        <label for="enterpassword">Enter Password</label>
        <input type="password" password="password_r" name="password" placeholder="Password"class="input-field"><br>
      </div>

      <input type="submit" action = "login" name="Submit" value="Enter" class="submit-btn"><br>
      <a href="login">Are you already registered? Log in</a>
    </form>
  </div>
</body>

</html>
