body{
  margin: 0 auto;
  background-image: url("Images/BG.jpg");
}

.play-button{
  height: auto;
  margin: 0 0;
  font-size: 100px;
}

.header {
  text-align: center;
  font-family: "Permanent Marker";
  font-size: 30px;
}

#selection-container {
  margin: 75px 505px 0px 0px;
  padding: 25px 0px 25px 0px;
  display: table;
  font-family: "Permanent Marker";
}

#button-container, #name-container {
  margin-left: 550px;
  position: fixed;
}

#welcome-message {
  text-align: center;
  margin-top: 80px;
  margin-left: 650px;
}
input{
  height: 30px;
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  margin-left: 10px;
  background-color: #D3D3D3;
  border: 2px solid #000;
  outline: none;
}

p{
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
  height: 50px;
  margin: 35px auto;
}

button{
  height:30px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid black 2px;
  font-family: "Helvetica", sans-serif;
  background-color: #D3D3D3;
}

button:active,
button:focus {
  outline: none;
  border: 2px solid #E15E32;
}

#game-body {
  width: 600px;
  height: 600px;
  padding: 15px;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 20px auto;
  border-radius: 10px;
  font-family: "Permanent Marker";
}

.letter {
  font-family: "Permanent Marker";
}
