* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

header {
  background-color: #6BEFFF;
  font-size: 30px;
  font-family: 'Permanent-Marker';
}

body {
  background-color: #A5F5FF;
  text-align: center;
}

nav {
  background-color: #6BEFFF;
  font-family: 'Permanent-Marker';
}

ul {
  list-style-type: none;
  height: 70px;
}

li {
  float: left;
  font-size: 18px;
  border: 2px;
}
li:last-child {

}

a {
  display: block;
  margin: 10px;
  padding: 8px;
  background-color: #6BEFFF;
}

p {
  font-size: 20px;
}

li a:hover {
  background-color: #A5F5FF;
}