* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 30px;
  font-family: 'Permanent Marker';
}

body {
  background-color: #FFF;
  text-align: center;
  background-image: linear-gradient(to right, grey, white);

}

nav {

  font-family: 'Permanent Marker';
}

ul {
  list-style-type: none;
  height: 70px;
}

li {
  float: left;
  font-size: 18px;
  border: 2px;
  color: black;
}
li:last-child {

}

a {
  display: block;
  margin: 10px;
  padding: 8px;
}

p {
  font-size: 20px;
}

li a:hover {
  background-color: silver;
  color: black;
}

input-field {
  border: 2px solid #000;
  outline: none;
  padding: 4px 8px;
  margin: 0 0 10px 4px;
  font-size: 18px;
  background-color: #FFF;
}

submit-btn {
  border: 2px solid #000;
  padding: 8px 8px;
  font-size: 18px;
  width: 250px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #FFF;
}
}
